<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TranslateUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <TranslateUtility.Properties.Settings>
            <setting name="LastCheckUpdate" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="LastestVersion" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="_ExcelModSource" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelModOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelTranslateInput" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelTranslateOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelTranslateSortById" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_ExcelTranslateSortByLength" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ExcelTranslateEmpty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_ExcelTranslateSame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ExcelTranslateSingle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ExcelTranslateContain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ExcelTranslateContainText" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelMergeSource" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelMergeTranslate" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelMergeOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelMergeAdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ExcelMergeReplaceTranslate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ExcelMergeReplaceText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ExcelFillSource" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelFillDesc" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelFillText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ExcelFillTranslate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_ExcelLegacyMod" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelLegacyTranslate" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelLegacyOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="_ModTranslateSource" serializeAs="String">
                <value />
            </setting>
            <setting name="_ModTranslateExcel" serializeAs="String">
                <value />
            </setting>
            <setting name="_ModTranslateOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="_ModTranslateDouble" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ModTranslateOriginalFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ModTranslateTranslateFirst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_ModExcelSource" serializeAs="String">
                <value />
            </setting>
            <setting name="_ModExcelOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="_ModExcelDouble" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ModExcelOriginalFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ModExcelTranslateFirst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_GameBackupOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_GameFontGamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="_GameBackupSource" serializeAs="String">
                <value />
            </setting>
            <setting name="_GameBackupDesc" serializeAs="String">
                <value />
            </setting>
            <setting name="_GameModDownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="_GameModGamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="_SimpleModOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="_SimpleUntranslateInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_SimpleTranslateInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_SimpleGamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="_SimpleModPath" serializeAs="String">
                <value />
            </setting>
            <setting name="_Simple2Language" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_SimpleOriginalFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_SimpleModInput" serializeAs="String">
                <value />
            </setting>
            <setting name="_ExcelTranslateUiText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_SimpleUiInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_SimpleForceDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_SimpleBigFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_SimpleDownloadFrequency" serializeAs="String">
                <value />
            </setting>
            <setting name="_SimpleShowAdvance" serializeAs="String">
                <value>False</value>
            </setting>
        </TranslateUtility.Properties.Settings>
    </userSettings>
</configuration>
